<!doctype html>
<title>Template</title>
<p>Hello, {{.Name}}</p>
<h1>List {{len .List}} item{{if gt (len .List) 1}}s{{end}}</h1>
{{if .List}}
<ul>
  {{range $i, $v := .List}}
  <li>{{$i}} {{.}}</li>
  {{end}}
</ul>
{{else}}
<p>List empty</p>
{{end}}